body {
  margin: 0;
  padding: 0;
}
li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 10px;  /*Отступ слева в браузере IE и Opera */
    padding-left: 10px; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
